################################################################################
#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
# limitations under the License.
################################################################################


#==============================================================================
# Common
#==============================================================================

# The external address of the host on which the JobManager runs and can be
# reached by the TaskManagers and any clients which want to connect. This setting
# is only used in Standalone mode and may be overwritten on the JobManager side
# by specifying the --host <hostname> parameter of the bin/jobmanager.sh executable.
# In high availability mode, if you use the bin/start-cluster.sh script and setup
# the conf/masters file, this will be taken care of automatically. Yarn/Mesos
# automatically configure the host name based on the hostname of the node where the
# JobManager runs.

{% if jobmanager_rpc_address != 'none' %}
jobmanager.rpc.address: {{jobmanager_rpc_address}}
{% endif %}

# The RPC port where the JobManager is reachable.

jobmanager.rpc.port: {{jobmanager_rpc_port}}


# The heap size for the JobManager JVM

jobmanager.heap.size: {{jobmanager_heap_size}}


# The heap size for the TaskManager JVM

taskmanager.heap.size: {{taskmanager_heap_size}}


# The number of task slots that each TaskManager offers. Each slot runs one parallel pipeline.

taskmanager.numberOfTaskSlots: {{taskmanager_numberOfTaskSlots}}

# The parallelism used for programs that did not specify and other parallelism.

parallelism.default: {{parallelism_default}}

# The default file system scheme and authority.
# 
# By default file paths without scheme are interpreted relative to the local
# root file system 'file:///'. Use this to override the default and interpret
# relative paths relative to a different file system,
# for example 'hdfs://mynamenode:12345'
#
{% if fs_default_scheme != 'none' %}
fs.default-scheme: {{fs_default_scheme}}
{% endif %}

#==============================================================================
# High Availability
#==============================================================================

# The high-availability mode. Possible options are 'NONE' or 'zookeeper'.
#
high-availability: {{high_availability}}

# The path where metadata for master recovery is persisted. While ZooKeeper stores
# the small ground truth for checkpoint and leader election, this location stores
# the larger objects, like persisted dataflow graphs.
# 
# Must be a durable file system that is accessible from all nodes
# (like HDFS, S3, Ceph, nfs, ...) 
#

{% if high_availability_storageDir != 'none' %}
high-availability.storageDir: {{high_availability_storageDir}}
{% endif %}

# The list of ZooKeeper quorum peers that coordinate the high-availability
# setup. This must be a list of the form:
# "host1:clientPort,host2:clientPort,..." (default clientPort: 2181)
#
{% if high_availability_zookeeper_quorum != 'none' %}
high-availability.zookeeper.quorum: {{high_availability_zookeeper_quorum}}
{% endif %}

# ACL options are based on https://zookeeper.apache.org/doc/r3.1.2/zookeeperProgrammers.html#sc_BuiltinACLSchemes
# It can be either "creator" (ZOO_CREATE_ALL_ACL) or "open" (ZOO_OPEN_ACL_UNSAFE)
# The default value is "open" and it can be changed to "creator" if ZK security is enabled
#

{% if high_availability_zookeeper_client_acl != 'none' %}
high-availability.zookeeper.client.acl: {{high_availability_zookeeper_client_acl}}
{% endif %}

#==============================================================================
# Fault tolerance and checkpointing
#==============================================================================

# The backend that will be used to store operator state checkpoints if
# checkpointing is enabled.
#
# Supported backends are 'jobmanager', 'filesystem', 'rocksdb', or the
# <class-name-of-factory>.
#
{% if state_backend != 'none' %}
state.backend: {{state_backend}}
{% endif %}

# Directory for checkpoints filesystem, when using any of the default bundled
# state backends.
#

{% if state_checkpoints_dir != 'none' %}
state.checkpoints.dir: {{state_checkpoints_dir}}
{% endif %}

# Default target directory for savepoints, optional.
#
{% if state_savepoints_dir != 'none' %}
state.savepoints.dir: {{state_savepoints_dir}}
{% endif %}

# Flag to enable/disable incremental checkpoints for backends that
# support incremental checkpoints (like the RocksDB state backend). 
#

{% if state_backend_incremental != 'none' %}
state.backend.incremental: {{state_backend_incremental}}
{% endif %}

#==============================================================================
# Rest & web frontend
#==============================================================================

# The port to which the REST client connects to. If rest.bind-port has
# not been specified, then the server will bind to this port as well.
#
{% if rest_port != 'none' %}
rest.port: {{rest_port}}
{% endif %}

# The address to which the REST client will connect to
#
{% if rest_address != 'none' %}
rest.address: {{rest_address}}
{% endif %}

# Port range for the REST and web server to bind to.
#
{% if rest_bind_port != 'none' %}
rest.bind-port: {{rest_bind_port}}
{% endif %}

# The address that the REST & web server binds to
#
{% if rest_bind_address != 'none' %}
rest.bind-address: {{rest_bind_address}}
{% endif %}

# Flag to specify whether job submission is enabled from the web-based
# runtime monitor. Uncomment to disable.

{% if web_submit_enable != 'none' %}
web.submit.enable: {{web_submit_enable}}
{% endif %}

#==============================================================================
# Advanced
#==============================================================================

# Override the directories for temporary files. If not specified, the
# system-specific Java temporary directory (java.io.tmpdir property) is taken.
#
# For framework setups on Yarn or Mesos, Flink will automatically pick up the
# containers' temp directories without any need for configuration.
#
# Add a delimited list for multiple directories, using the system directory
# delimiter (colon ':' on unix) or a comma, e.g.:
#     /data1/tmp:/data2/tmp:/data3/tmp
#
# Note: Each directory entry is read from and written to by a different I/O
# thread. You can include the same directory multiple times in order to create
# multiple I/O threads against that directory. This is for example relevant for
# high-throughput RAIDs.
#
{% if io_tmp_dirs != 'none' %}
io.tmp.dirs: {{io_tmp_dirs}}
{% endif %}

# Specify whether TaskManager's managed memory should be allocated when starting
# up (true) or when memory is requested.
#
# We recommend to set this value to 'true' only in setups for pure batch
# processing (DataSet API). Streaming setups currently do not use the TaskManager's
# managed memory: The 'rocksdb' state backend uses RocksDB's own memory management,
# while the 'memory' and 'filesystem' backends explicitly keep data as objects
# to save on serialization cost.
#
{% if taskmanager_memory_preallocate != 'none' %}
taskmanager.memory.preallocate: {{taskmanager_memory_preallocate}}
{% endif %}

# The classloading resolve order. Possible values are 'child-first' (Flink's default)
# and 'parent-first' (Java's default).
#
# Child first classloading allows users to use different dependency/library
# versions in their application than those in the classpath. Switching back
# to 'parent-first' may help with debugging dependency issues.
#
{% if classloader_resolve_order != 'none' %}
classloader.resolve-order: {{classloader_resolve_order}}
{% endif %}

# The amount of memory going to the network stack. These numbers usually need 
# no tuning. Adjusting them may be necessary in case of an "Insufficient number
# of network buffers" error. The default min is 64MB, the default max is 1GB.
#
{% if taskmanager_network_memory_fraction != 'none' %}
taskmanager.network.memory.fraction: {{taskmanager_network_memory_fraction}}
{% endif %}
{% if taskmanager_network_memory_min != 'none' %}
taskmanager.network.memory.min: {{taskmanager_network_memory_min}}
{% endif %}
{% if taskmanager_network_memory_max != 'none' %}
taskmanager.network.memory.max: {{taskmanager_network_memory_max}}
{% endif %}

#==============================================================================
# Flink Cluster Security Configuration
#==============================================================================

# Kerberos authentication for various components - Hadoop, ZooKeeper, and connectors -
# may be enabled in four steps:
# 1. configure the local krb5.conf file
# 2. provide Kerberos credentials (either a keytab or a ticket cache w/ kinit)
# 3. make the credentials available to various JAAS login contexts
# 4. configure the connector to use JAAS/SASL

# The below configure how Kerberos credentials are provided. A keytab will be used instead of
# a ticket cache if the keytab path and principal are set.

{% if security_kerberos_login_use_ticket_cache != 'none' %}
security.kerberos.login.use-ticket-cache: {{security_kerberos_login_use_ticket_cache}}
{% endif %}
{% if security_kerberos_login_keytab != 'none' %}
security.kerberos.login.keytab: {{security_kerberos_login_keytab}}
{% endif %}
{% if security_kerberos_login_principal != 'none' %}
security.kerberos.login.principal: {{security_kerberos_login_principal}}
{% endif %}

# The configuration below defines which JAAS login contexts
{% if security_kerberos_login_contexts != 'none' %}
security.kerberos.login.contexts: {{security_kerberos_login_contexts}}
{% endif %}
#==============================================================================
# ZK Security Configuration
#==============================================================================

# Below configurations are applicable if ZK ensemble is configured for security

# Override below configuration to provide custom ZK service name if configured
# zookeeper.sasl.service-name: zookeeper

# The configuration below must match one of the values set in "security.kerberos.login.contexts"
# zookeeper.sasl.login-context-name: Client

#==============================================================================
# HistoryServer
#==============================================================================

# The HistoryServer is started and stopped via bin/historyserver.sh (start|stop)

# Directory to upload completed jobs to. Add this directory to the list of
# monitored directories of the HistoryServer as well (see below).
{% if jobmanager_archive_fs_dir != 'none' %}
jobmanager.archive.fs.dir: {{jobmanager_archive_fs_dir}}
{% endif %}

# The address under which the web-based HistoryServer listens.
{% if historyserver_web_address != 'none' %}
historyserver.web.address: {{historyserver_web_address}}
{% endif %}
# The port under which the web-based HistoryServer listens.
{% if historyserver_web_port != 'none' %}
historyserver.web.port: {{historyserver_web_port}}
{% endif %}
# Comma separated list of directories to monitor for completed jobs.
{% if historyserver_archive_fs_dir != 'none' %}
historyserver.archive.fs.dir: {{historyserver_archive_fs_dir}}
{% endif %}
# Interval in milliseconds for refreshing the monitored directories.
{% if historyserver_archive_fs_refresh_interval != 'none' %}
historyserver.archive.fs.refresh-interval: {{historyserver_archive_fs_refresh_interval}}
{% endif %}

# Custom properties

{{custom_properties}}